@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1767267755813') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-xiazai:before {
  content: "\e856";
}

.icon-shoucang:before {
  content: "\e60a";
}

