@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1767065729054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anquanbaozhang:before {
  content: "\e6e6";
}

.icon-huoyunzixun:before {
  content: "\e603";
}

.icon-airudiantubiaohuizhi-zhuanqu_yiwutong:before {
  content: "\e69d";
}

.icon-pinzhibaozhang:before {
  content: "\e629";
}

